.pagination .page-link {
    padding: 0.1rem 0.2rem;
    font-size: 0.7rem;
}

.pagination svg {
    width: 4px !important;
    height: 4px !important;
}

.pagination .fas {
    font-size: 0.7rem;
}

.pagination {
    font-size: 0.8rem;
}

.page-item .page-link {
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-footer .pagination {
    margin-bottom: 0;
    justify-content: center;
}

.card-footer.bg-light {
    border-top: 1px solid rgba(0,0,0,0.125);
}